<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <h1 style="text-align:center;">My Deanery</h1>

            <h2>Student Performance</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Course</th>
                  <th>Group</th>
                  <th>Chemistry</th>
                  <th>Physics</th>
                  <th>Math</th>
                  <th>Philosophy</th>
                  <th>Computer Science</th>
                  <th>Average Score</th>
                </tr>
                </thead>
                <tbody>
                    {% for student in students_statistics %}
                        <tr>
                            <th scope="row">{{student.id}}</th>
                            <td>{{student.name}}</td>
                            <td>{{student.course}}</td>
                            <td>{{student.group}}</td>
                            <td>{{student.Chemistry}}</td>
                            <td>{{student.Physics}}</td>
                            <td>{{student.Math}}</td>
                            <td>{{student.Philosophy}}</td>
                            <td>{{student.ComputerScience}}</td>
                            <td>{{student.AverageScore}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Excelent Students: {{excellent_students}}</h4>
            <h4>To Deduction: {{bad_students}}</h4>
            <h4>Difficult Subjects: {{difficult_subjects}}</h4>
            <h4>Easy Subjects: {{easy_subjects}}</h4>
        </div>
	</body>
</html>
